@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  --blue-btn: #64b5f6;
  --blue-bg:  #2196f3;
  --red-btn: #ef5350;
  --red-bg: #e53935;
  --yellow-btn: #ffca28;
  --yellow-bg: #ffb300;
  --green-btn: #81c784;
  --green-bg: #4caf50;
}

* {
  margin: 0;
  padding: 0;
}

#btn-container {
  /*width: 99vw;
  /*height: 90vh;*/
  display: flex;
  justify-content: center;
  /*align-items: center;/*Ligne permettant de modifier la hauteur des boutons*/
  align-items: 10px;
  transition: 0.2s;
}

.btn {
  width: 75px;
  height: 75px;
  background: #FFF;
  margin: 0.5rem;
  margin-top: 5%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: width 0.3s cubic-bezier(.36,.15,.21,1.94), background 0.3s;
}

.icon {
  font-size: 2rem;
  color: #7d7d7d;
}

.btn.active {
  width: 180px;
}

.icon.active {
  color: #FFF;
}

/*//---- Backgrounds -----
.background.blue-bg {
  background: var(--blue-bg);
}

.background.red-bg {
  background: var(--red-bg);
}

.background.yellow-bg {
  background: var(--yellow-bg);
}

.background.green-bg {
  background: var(--green-bg);
}*/

/* Buttons */
.blue-btn.active {
  background: var(--blue-btn);
}

.red-btn.active {
  background: var(--red-btn);
}

.yellow-btn.active {
  background: var(--yellow-btn);
}

.green-btn.active {
  background: var(--green-btn);
}

@media only screen and (max-width: 550px) {
  .btn {
  width: 80px;
  height: 80px;
  margin: 0.3rem;
  }
  
  .icon {
  font-size: 1.5rem;
  }
  
  .btn.active {
  width: 120px;
  }
}

@media only screen and (max-width: 410px) {
  .btn {
  width: 60px;
  height: 60px;
  margin: 0.3rem;
  }
  
  .icon {
  font-size: 1rem;
  }
  
  .btn.active {
  width: 100px;
  }
}



.container-button{
  width:50%;
  position: absolute;
  top: 10%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top:18rem;
}

.btnGame:link,
.btnGame:visited{
   text-transform: uppercase;/*Code pour mettre le texte en majuscule*/
   text-decoration: none;
   padding: 1rem 3rem;
   display: inline-block;
   border-radius: 10rem;
   transition: all .2s;
   position: relative; 
   font-family: 'Fredoka One', cursive;
}
.btn-white{
    background-color: #fff;
    color:#777
}

.btnGame:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
    
}
.btnGame:active{
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
}

.btnGame::after{
    content: "";
    display:inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    transition: all .4s;
  
}



/*.btnGame:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}*/

.btn-animated{
    animation:moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}



.b1{
  margin-right: 2%;
}

.b2{
  margin-left: 2%;
  margin-right: 2%;

}

.b3{
  margin-left: 2%;
}



.rectangle{
  top: 70%;
  width:25%;
  height: 40%;
  position: absolute;

  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /*background: white;*/
}




/*Clearing Floats*/
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}    
/* Form wrapper styling */

.search-wrapper {
  width: 180px;
  margin: 10% auto;    
  border-radius: 40px;
  background: transparent;

}

/* Form text input */

.search-wrapper input {
  padding-left: 20px;
  vertical-align: middle;
  text-align: center;
    width: 50px;
    height: 20px;
    padding: 10px 5px;
    float: left;   
    font: 20px 'Fredoka One';
    border: 0;
    background: #fff;
    border-radius: 40px;
    border-top-style: none;
}

.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
  padding-left: 20px;
}

.search-wrapper input:-moz-placeholder {
    
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
  border-style: none;
}   

/* Form submit button */
.search-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: 13px/40px 'Fredoka One';
    color: #fff;
    /*text-transform: uppercase;*/
    background: #64b5f6;
    border-radius: 40px;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  

.search-wrapper button:hover{    
/*     background: #e54040; */
}  

.search-wrapper button:active,
.search-wrapper button:focus{  
    background: #198cff;
    outline: 0;  
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #c42f2f;
}     

.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}   






/*--------------TITLE--------------*/

/*.title {

  font-weight: 600;
  font-size: 40px;
  position: absolute;
  width: 450px;
  padding-left: 50%;
  padding-right: 50%;
  background: white;
}*/
.text {
  opacity: 500%;
  text-align: center;
  font-size: 50px;

}



#logo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: white;
  position: fixed;
}

.word {
  position: absolute;
  width: 100px;
  opacity: 0;
}



.letter {
  display: inline-block;
  position: relative;
  float: left;

}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.blueTitle {
  color: #2196f3;
}

.greenTitle {
  color: #4caf50;
}

.yellowTitle {
  color: #ffb300;
}

.redTitle {
  color: #e53935;
}



.wrapper {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #ffffff;
  text-align: center;
  font-size: 92px;
  font-family: "Fredoka One";
  font-weight: 700;
  background: repeating-linear-gradient(to right, #64b5f6, #81c784, #ffca28, #ef5350, #64b5f6);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 7.5s linear infinite;
  display: inline-block;

}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}




/*--------------Affichage Calcul--------------*/

#affichage{
  margin-top: 5%;
  border-style: solid;
  border-radius: 20px;
  border-color: white;
  color : white;
  font-family: "Fredoka One";
  font-size: 100px

}



/*--------------Affichage Score--------------*/


